<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css"
integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"
     integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM="
     crossorigin=""></script>
<div class="container">
    <div>
        <h1>Sobre nosotros</h1>
    </div><br>
    <div>
        <h4>Todo acerca de nostoros y nuestra amplia experiencia, coneccions y areas de trabajo.</h4>
    </div>
</div><br>
<br>

<div class="container">
    <div>
        <h3>Sobre Empresa chida™, en voz de nuestros clientes satisfechos: </h3><br>
        <figure>
            <blockquote class="blockquote">
              <p class="mb-0">Al terminar de trabajar con la ayuda de Empresa chida™ encontre mi actual trabajo en Meta.</p>

            </blockquote>
            <figcaption class="blockquote-footer">
              Trabajador de <cite title="Source Title">Meta</cite>
            </figcaption>
          </figure>
    </div>
    <div>
        <figure>
            <blockquote class="blockquote">
              <p class="mb-0">Si no hubiera sido gracias a Empresa chida™, no hubiera llegado a donde estoy actualmente.</p>

            </blockquote>
            <figcaption class="blockquote-footer">
              Actual CEO <cite title="Source Title">Microsoft</cite>
            </figcaption>
          </figure>
    </div>
    <div>
        <figure>
            <blockquote class="blockquote">
              <p class="mb-0">Gracias a Empresa chida™ tengo mi actual trabajo.</p>

            </blockquote>
            <figcaption class="blockquote-footer">
              Actual administrador mayor en <cite title="Source Title">Softtek</cite>
            </figcaption>
          </figure>
    </div>
</div>
<div class="valdi">
    <img src="./assets/edificio.jpg" width="auto" height="auto"><br>
    <small class="text-muted">-Nuestro edificio situado en una de las mejores ciudades </small>
</div>

<div>
    <div class="valdi">
        <div class="containerb">
            <h2>¿Que somos?</h2>
        </div>
<p>Nosotros,Empresa chida™: somos una empresa espcializada en la contratacion de nivel pricnipiante, junior, majior y master en cualquier ambito, gracias a nuestra  <a href="/inicio">pagina</a> con simplemente registrate puedes ver nuestro amplio catalogo de vacantes.</p>
<p>Con simplemente un Click, puedes ver todo lo que tenemos para ofrecer, deste trabos simples perfector para una egresado, hasa vacantes de grandes ligar para convertirte en un pez gordo de las altas esferas programativas</p>
<p>El cielo es el limite cunado se trata de escoger que futuro queremos emprender</p>
<div id="map"></div>
    </div>
</div>
    <div class="container">
        <div class="list-group">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start active">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Conocenos en nuestra actual ubicación</h5>

                <small>3 year(s) ago</small>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022zM6 8.694 1 10.36V15h5V8.694zM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15z"/>
                <path d="M2 11h1v1H2v-1zm2 0h1v1H4v-1zm-2 2h1v1H2v-1zm2 0h1v1H4v-1zm4-4h1v1H8V9zm2 0h1v1h-1V9zm-2 2h1v1H8v-1zm2 0h1v1h-1v-1zm2-2h1v1h-1V9zm0 2h1v1h-1v-1zM8 7h1v1H8V7zm2 0h1v1h-1V7zm2 0h1v1h-1V7zM8 5h1v1H8V5zm2 0h1v1h-1V5zm2 0h1v1h-1V5zm0-2h1v1h-1V3z"/>
              </svg>
              <p class="mb-1">Estamos ubicados en Southwark #123</p>

              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
              </svg>
              <p class="mb-1">telefono: xxx-xxx-xx-xx ó xxx-xxx-xxx-xx</p>
              <small>California, Mexico</small>
            </a>
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">Presencia:</h5>
                <small class="mb-1d">3 year(s) ago</small>
              </div>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pin-map" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M3.1 11.2a.5.5 0 0 1 .4-.2H6a.5.5 0 0 1 0 1H3.75L1.5 15h13l-2.25-3H10a.5.5 0 0 1 0-1h2.5a.5.5 0 0 1 .4.2l3 4a.5.5 0 0 1-.4.8H.5a.5.5 0 0 1-.4-.8l3-4z"/>
                <path fill-rule="evenodd" d="M8 1a3 3 0 1 0 0 6 3 3 0 0 0 0-6zM4 4a4 4 0 1 1 4.5 3.969V13.5a.5.5 0 0 1-1 0V7.97A4 4 0 0 1 4 3.999z"/>
              </svg>
              <p class="mb-1">Tenemos presencia todos estos paises: </p>
              <p class="mb-1">Mexico, Estados unidos, Canada, Colombia,Peru, España, Alemania, suiza, rusia, Inglaterra, Republica del congo, Arabia, India, Taxcala, China, Japon, Corea, Marte, Vaticano</p>
            </a>
          </div>
    </div><br>
    <br>
