<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
integrity="sha384-
zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js"
integrity="sha384-
DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
crossorigin="anonymous"></script>
<script
src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
integrity="sha384-
9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
crossorigin="anonymous"></script>
<script
src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"
integrity="sha384-
VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"
crossorigin="anonymous"></script>
<div class="container">
    <br>
    <div class="entrada">
        <h1><img src="./assets/logo.jpg" width="50" height="50">mpresa Chida™</h1>
    </div>
    <div class="entrada">
        <img src="./assets/empresa.jpg" width="400" height="300">
        <h3>No los mejores en todo, pero, si en lo que hacemos.</h3>
    </div>
</div><br>
<br>
<div class="container">
  <h4>accesibilidad web:</h4>
  <a class="btn btn-outline-light btn-floating m-1" role="button"  >
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-universal-access" viewBox="0 0 16 16">
      <path d="M9.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0ZM6 5.5l-4.535-.442A.531.531 0 0 1 1.531 4H14.47a.531.531 0 0 1 .066 1.058L10 5.5V9l.452 6.42a.535.535 0 0 1-1.053.174L8.243 9.97c-.064-.252-.422-.252-.486 0l-1.156 5.624a.535.535 0 0 1-1.053-.174L6 9V5.5Z"/>
    </svg>
  </a>
</div>

<div class="container1">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="./assets/carousel/capasitación.jpg" width="auto" height="auto">
                <div class="carousel-caption">
                    <h3>Capasitación</h3>
                    <p>tenemos la mejor capasitación del mercado</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img src="./assets/carousel/conectados.jpg"width="auto" height="auto">
                <div class="carousel-caption">
                    <h3>Conectados</h3>
                    <p>Acceso a todo el mundo, oportunidades en todos lados</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img src="./assets/carousel/entorno.jpg" width="auto" height="auto">
                <div class="carousel-caption">
                    <h3>Entorno</h3>
                    <p>Exelente entorno laboral</p>
                  </div>
              </div>
              <div class="carousel-item">
                <img src="./assets/carousel/preparacion.jpg" width="auto" height="auto">
                <div class="carousel-caption">
                    <h3>Preparacion</h3>
                    <p>Al salir estarás preparado para el mundo laboral serio</p>
                  </div>
              </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
<div class="progress">
    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%;"></div>
  </div>
  <div class="containerc ">
    <div class="form-grupo">
        <div class="card border-secondary mb-3" >
            <div class="card-header">Lideres en infromación</div>
            <div class="card-body">
              <h4 class="card-title">Concimiento amplio</h4>
              <p class="card-text">En esta empresa podras eonctorar todo lo nececario para tu exprelencia laboral, ampliando tu informacion administrativa en los diferentes vacatnes que tenemos para ti.</p>
            </div>
            <div class="card-footer text-muted">
                5 week(s) ago
              </div>
        </div>
        <div class="card border-secondary mb-3" >
            <div class="card-header">Experiencia</div>
            <div class="card-body">
              <h4 class="card-title">Requisistos de experiencia</h4>
              <p class="card-text">Nuenstas vacantes van desde nula experiencia, pasnado por junior, hasta senior. Simpre va a haber un trabajo especial y esperando para ti.</p>
            </div>
            <div class="card-footer text-muted">
                1 month(s) ago
              </div>
        </div>
        <div class="card border-secondary mb-3" >
            <div class="card-header">Conecciones</div>
            <div class="card-body">
              <h4 class="card-title">Conectate</h4>
              <p class="card-text">Podrás trabajar desde casa, en nuestra oficinas o de forma hibirta, podras escojer tu modo de trabajo (aplica resticciones).</p>
            </div>
            <div class="card-footer text-muted">
                2 days ago
              </div>
        </div>
        <div class="card border-secondary mb-3" >
            <div class="card-header">Hambiente laboral</div>
            <div class="card-body">
              <h4 class="card-title">Nuestro entorno</h4>
              <p class="card-text">Con nuestro amplio catalogo de empresar, pordrás escoger la empresa que mejor te convenga, simpre teneindo un entorno laboral prefrenceial y especil para ti.</p>
            </div>
            <div class="card-footer text-muted">
                5 days ago
              </div>
        </div>
        <app-search></app-search>
<div class="container m-5">
<router-outlet></router-outlet>
</div>
    </div>
  </div>
